body{
    background-color: rgb(52, 4, 61);
}

h1{
    color: white;
    text-align: center;
    font-size: 3rem;
}

.container{
    background-color: rgb(168, 179, 189);
    width: 85vw;
    margin: 0 auto;
    border-radius: 15px;
    padding: 5vh 5vw;
}

.div-input{
    margin: 0 auto;
}

.form-input{
    display: flex;
    flex-wrap: wrap;
}

#search-input{
    height: 2rem;
    width: 60%;
    margin-left: 8%;
    margin-right: 2%;
    font-size: 1.8rem;
}


#search-button:hover{
    background-color: #d3d2cc;
    border: 1px solid #d3d2cc;
}

#search-button:active{
    background-color: #a7a6a1;
    border: 1px solid #a7a6a1;
}

#search-button{
    width: 20%;
    margin-right: 8%;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    color: black;
    text-align: center;
    border: 1px solid #fff6dc;
    background-color: #fff6dc;
}

.label-input{
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
}

.name-span, .id-span{
    font-weight: bold;
}

.hide{
    visibility: hidden;
}

.name-and-id{
    margin: 0 auto;
    margin-top: 1rem;
    width: 83.5%;
    font-size: 1.5rem;
}

#creature-name{
    font-weight: bold;
}

.weight-and-height{
    display: flex;
    margin: 0 auto;
    width: 83.5%;
    font-size: 1.2rem;
}

#weight, #height{
    margin: auto 0.5rem;
}

#types{
    display: flex;
    margin: 0 auto;
    width: 83.5%;
}

#types > p{
    background-color: aliceblue; /*可能在js中获取的信息可以更改*/
    border-radius: 10px;
    padding: 5px;
    margin: 2px 1px;
    text-align: center;
    text-transform: uppercase;
}

.data{
    width: 50%;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 5vh 5vw;
    border-radius: 20px;
}

.data-container{
    display: flex;
    width: 100%;
    border-bottom: 2px solid black;
}

.data-name{
    width: 50%;
    font-size: 1.3rem;
}

.data-num{
    width: 50%;
    text-align: center;
    font-size: 1.3rem;
}